*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: $font-text;
  font-weight: 300;
  font-size: 100%;
  color: $text-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-head;
  font-weight: 900;
}

ul {
  @include reset-list;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a { 
  text-decoration: none;
  transition: all .2s ease-in-out;
}

strong { font-weight: 700; }

small {
  font-size: .8em;
}

p {
  line-height: em(22);
}

.sr-only {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: $screen-xl;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}

// Grid
.box {
  display: flex;
}

.item {
  //flex: 1;
}

.text-no-wrap {
  white-space: nowrap;
}

// Background Color
.bg-white { background-color: $bg-white }
.bg-light { background-color: $bg-light }
.bg-gray { background-color: $bg-grey }
.bg-black { background-color: $bg-black }
.bg-blue {
  background-color: $bg-blue;
  color: $bg-blue-text;
}

.rounded {
  border-radius: em(8);
}

// Circles
.circle-1, .circle-2, .circle-3, .circle-4, .circle-5 {
  position: absolute;
  background-color: rgba($blue, 20%);
}

.circle-1 {
  height: em(60);
  width: em(60);
  border-radius: em(60);
}

.circle-2 {
  height: em(80);
  width: em(80);
  border-radius: em(80);
}

.circle-3 {
  height: em(100);
  width: em(100);
  border-radius: em(100);
}

.circle-4 {
  height: em(140);
  width: em(140);
  border-radius: em(140);
}

.circle-5 {
  height: em(200);
  width: em(200);
  border-radius: em(200);
}

// Logo
.logo {
  background: url("/images/logo.svg") 0 0 no-repeat;
}


// Button
.btn {
  font-family: $font-head;
  white-space: nowrap;
  background-color: $btn-bg;
  color: $btn-color;
  padding: 0 em(30);
  border-radius: em(8);
  height: em(40);
  display: inline-flex;
  align-items: center;
  @include shadow-3;
  transition: all .5s ease-in-out;

  &:hover,
  &:focus {
    background-color: $btn-bg-hover !important;
    color: $btn-color-hover !important;
  }
}

.section {}
.section-name {}
.section-title {}
.section-subtitle {}
