@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin shadow-1 {
  box-shadow: 0  0  em(8) rgba($black, 8%);
}

@mixin shadow-2 {
  box-shadow: em(8)  em(8)  em(8) rgba($black, 8%);
}
