$blue: #009BFF;
$white: #fff;
$black: #3A4348;
$grey: #81919A;
$bg-black: $black;
$bg-white: #F8FAFF;

$font-head: Nunito, sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Screens sizes */
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$btn-bg: $blue;
$btn-color: $bg-white;
$btn-bg-hover: $black;
$btn-color-hover: $bg-white;



$logo-url: '/images/logo.svg';
