@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Source+Sans+Pro:wght@300;700&display=swap);
/* Screens sizes */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nunito, sans-serif;
  font-weight: 900;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #F8FAFF;
}

.bg-gray {
  background-color: #81919A;
}

.bg-black {
  background-color: #3A4348;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.circle-1, .circle-2, .circle-3, .circle-4, .circle-5 {
  position: absolute;
  background-color: rgba(0, 155, 255, 0.2);
}

.circle-1 {
  height: 3.75em;
  width: 3.75em;
  border-radius: 3.75em;
}

.circle-2 {
  height: 5em;
  width: 5em;
  border-radius: 5em;
}

.circle-3 {
  height: 6.25em;
  width: 6.25em;
  border-radius: 6.25em;
}

.circle-4 {
  height: 8.75em;
  width: 8.75em;
  border-radius: 8.75em;
}

.circle-5 {
  height: 12.5em;
  width: 12.5em;
  border-radius: 12.5em;
}

.logo {
  background: url("/images/logo.svg") 0 0 no-repeat;
}

.btn {
  font-family: Nunito, sans-serif;
  background-color: #009BFF;
  color: #fff;
  padding: 0 1.875em;
  border-radius: 0.5em;
  height: 2.5em;
  display: inline-flex;
  align-items: center;
}
.btn:hover, .btn:focus {
  background-color: #3A4348;
  color: #fff;
}

.navigation {
  background-color: #fff;
  box-shadow: 0 0 0.5em rgba(58, 67, 72, 0.08);
  position: relative;
  z-index: 9999;
}
.navigation .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7.5em;
}
.navigation .logo {
  font-size: 1em;
  margin: 0;
  text-indent: -9999px;
  height: 5em;
  width: 5em;
  background-size: 5em;
}

.nav-list {
  display: flex;
}

.nav-item:last-child .nav-link {
  margin-right: 0;
}

.nav-link {
  display: inline-flex;
  align-items: center;
  font-family: Nunito, sans-serif;
  color: rgba(58, 67, 72, 0.8);
  white-space: nowrap;
  height: 2.5em;
  padding: 0 1.25em;
  margin: 0 0.625em;
}
.nav-link:hover, .nav-link:focus {
  color: #009BFF;
}
.nav-link.btn {
  color: #fff;
  padding: 0 1.875em;
}

@media (min-width: 992px) {
  .navigation .container {
    padding: 0 6.25em;
  }
}
@media (max-width: 576px) {
  .navigation {
    font-size: 12px;
  }

  .nav-link {
    margin: 0;
  }
}
.hero {
  text-align: center;
}
.hero .container {
  position: relative;
}
.hero .circle-1 {
  bottom: 16%;
  left: -8%;
}
.hero .circle-2 {
  bottom: -14%;
  left: 15%;
}
.hero .circle-3 {
  top: -6%;
  right: 6%;
}
.hero .circle-4 {
  left: 10%;
  top: 25%;
}
.hero .circle-5 {
  right: -10%;
  bottom: 4%;
}

.hero-title {
  font-size: 3.75em;
  line-height: 1.1666666667em;
  margin: 0;
  padding-top: 1em;
  text-transform: uppercase;
  color: #009BFF;
  text-shadow: 4px 4px 0 rgba(0, 155, 255, 0.2);
}

.hero-text {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0.8333333333em 0 0;
}

.hero-content .btn {
  margin-top: 1.875em;
}

.hero-image {
  border-radius: 0.5em;
  position: relative;
  bottom: -2.5em;
}
.hero-image img {
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0.5em rgba(58, 67, 72, 0.08);
}

@media (max-width: 576px) {
  .hero-title {
    padding-top: 0.5em;
  }

  .hero-text {
    margin-top: 0.4166666667em;
  }
}
