.about {
    margin-top: em(120);
    margin-bottom: em(80);

    .container {
      position: relative; // for circles
      flex-direction: row;
    }

    .circle-3 {
      bottom: em(20);
      left: em(40);
    }
}

.about-body {
  padding: em(40);
  border-radius: em(8);
  @include shadow-2;
  width: 50%;
  margin-left: 10%;
  position: relative;
}

.about-title {
  @include section-title;
}

.about-text {
  margin-right: em(100);

  p {
    line-height: em(24);
    margin-bottom: 0;

    &:first-child {
      margin-top: em(20);
    }
  }

  .btn {
    margin: em(30) 0 em(10);
  }
}

.about-footer {
  position: relative;
  width: 45%;
  left: -5%;
  top: em(80);
}

.about-photo {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: em(-120);

  source, img {
    max-width: em(146);
    height: auto;
    border-radius: em(146);
    @include shadow-2;
  }
}

.about-image {
  position: absolute;

  source, img {
    height: auto;
    border-radius: em(8);
    transform: rotate(-5deg);
  }
}


@media (max-width: $screen-lg) {
  .about-body {
    margin-left: 5%;
  }

  .about-text {
    margin-right: em(40);
  }

  .about-footer {

  }

  .about-image {

  }

  .about-photo {
    left: em(-30);
  }
}

@media (max-width: $screen-md) {
  .about-footer {

  }

  .about-image {

  }

  .about-photo {
    top: 35%;
    left: em(-30);
  }
}

@media (max-width: $screen-sm) {
  .about {
    .container {
      flex-direction: column;
    }
  }

  .about-body,
  .about-footer {
    flex: 1;
  }

  .about-body {
  }

  .about-footer {
    position: relative;
    top: 0;
    left: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    position: relative;
  }

  .about-photo {
    left: auto;
    right: 20%;
    top: -30%;
  }

}


@media (max-width: $screen-sm) {

  .about-body {
    width: 85%;
  }

  .about-text {
    margin-right: 0;
  }

  .about-footer {
    width: 100%;
    margin-bottom: em(20);
  }

  .about-photo {
    top: auto;
    right: em(20);
    bottom: em(-40)
  }

}
